{{!-- app/templates/task-manager.hbs --}}

<h1>Task Manager</h1>

{{!--
<ul>
  {{#each this.model as |task|}}
    <li>{{task.title}} - {{task.status}}</li>
  {{/each}}
  Test
</ul>
--}}

<p>Test static content</p>